<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha384-2fX1LnjQGwRxMKJICg8FRs3gp/zk2S1/1mGv1bX0GO6RvQwB4XGPAnJYPISXxF5a" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


  <link rel="stylesheet" href="assets/css/stylle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

  <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-svg.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/theme.css">
  <link rel="stylesheet" href="assets/css/loopple/loopple.css">


  <link rel="stylesheet" href="assets/css/option.css">
  <link href="https://fonts.cdnfonts.com/css/poetsen-one" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Bungee+Spice&family=Ms+Madi&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&family=Stint+Ultra+Condensed&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="assets/css/style.css">
  <link href="https://fonts.cdnfonts.com/css/poetsen-one" rel="stylesheet">


  <link rel="stylesheet" href="assets/css/ecommerc.css">
  <link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' rel='stylesheet'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

  <title>Document</title>
</head>

<body>
  <!--Navbar section start-->
  <nav class="navbar navbar-expand-lg navbar-dark shadow-none fixed-top" aria-label="navbar"
    style="background-color: #161B2A;">
    <div class="container-fluid">
      <div class="logo">
        <a href=""></a>
        <a class="navbar-brand" href="#"><img src="logo/logo.png" alt="">Houses</a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Home.html">HOME</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="room.html">ROOM</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">BLOG</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">CONTRUCT</a>
          </li>

          <!-- Existing code -->

          <li class="nav-item dropdown"> <!-- Add "dropdown" class to create a dropdown menu -->
            <a class="nav-link dropdown-toggle" href="#" id="serviceDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Service
            </a>
            <ul class="dropdown-menu" aria-labelledby="serviceDropdown"> <!-- Create a dropdown menu -->
              <li><a class="dropdown-item" href="medicine.html" onclick="changeBackgroundColor(event)">Medicine</a>
              </li>
              <li><a class="dropdown-item" href="#" onclick="changeBackgroundColor(event)">Food</a></li>
              <li><a class="dropdown-item" href="#" onclick="changeBackgroundColor(event)">Transport</a>
              </li>
              <!-- Add your Medicine section here -->
            </ul>
          </li>

          <!-- Remaining code -->

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ABOUT</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="profile.html">Profile</a>
          </li>

          <li class="nav-it">
            <a class="nav-link active" aria-current="page" href="#"><button>LOGIN</button></a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <!--Navbar section end-->


  <!--Header section start-->

  <div class="option">
    <div class="option-bar">
      <div class="option1">
        <h1>Rental <br> Category</h1>
        <li class="nav-it1">
          <a class="nav-link active" aria-current="page" href="#"><button>ALL_CATEGORY</button></a>
        </li>

      </div>

      <div class="container1">
        <div class="row row-cols-4">
          <div class="col">
            <img src="logo/family.png" alt="">
            <button>family<a href=""></a></button>
          </div>
          <div class="col">
            <img src="logo/apartment.png" alt="">
            <button>apartment<a href=""></a></button>
          </div>

          <div class="col">
            <img src="logo/sublease1.png" alt="">
            <button>sublet <a href=""></a></button>
          </div>
          <div class="col">
            <img src="logo/laptop.png" alt="">
            <button>bachelor <a href=""></a></button>
          </div>
        </div>


        <div class="row row-cols-4">
          <div class="col">
            <img src="logo/confroom.png">
            <button>Community <a href=""></a></button>
          </div>
          <div class="col">
            <img src="logo/fo.png" alt="">
            <button>student <a href=""></a></button>
          </div>

          <div class="col">
            <img src="logo/factory1.png" alt="">
            <button>office a</button>
          </div>
          <div class="col">
            <img src="logo/park.png" alt="">
            <button>parking <a href=""></a></button>
          </div>
        </div>


        <div class="row row-cols-4">
          <div class="col">
            <img src="logo/girls.png" alt="">
            <button>Girls Hostel <a href=""></a></button>
          </div>
          <div class="col">
            <img src="logo/boys.png" alt="">
            <button>Boys Hostel <a href=""></a></button>
          </div>

          <div class="col">
            <img src="logo/family.png" alt="">
            <button>flat <a href=""></a></button>
          </div>
          <div class="col">
            <img src="logo/restaurant1.png" alt="">
            <button>dining hall <a href=""></a></button>
          </div>
        </div>
      </div>
    </div>

  </div>



  <!--Header section end-->

  <!--Footeer section start-->
  <div class="footer"> <!-- Footer container -->
    <div class="lower"> <!-- Lower section of the footer -->

      <div class="why-are-you-waiting">
        <h2>Why are you waiting <br> Let's find your dream <br> room or house?</h2>
      </div>

      <div class="logo"> <!-- Social media icons section -->
        <div class="lo">
          <a href="#"><img src="logo/fb.png" alt="Facebook"></a>
        </div>
        <div class="lo">
          <a href="#"><img src="logo/ins.png" alt="Instagram"></a>
        </div>
        <div class="lo">
          <a href="#"><img src="logo/link.png" alt="LinkedIn"></a>
        </div>
        <div class="lo">
          <a href="#"><img src="logo/tik.png" alt="TikTok"></a>
        </div>
      </div>

      <div class="list"> <!-- First list in the footer -->
        <ul>
          <li><a href="#">My Base-camp</a></li>
          <li><a href="#">My account</a></li>
          <li><a href="#">Book now</a></li>
        </ul>
      </div>

      <div class="list"> <!-- Second list in the footer -->
        <ul>
          <li><a href="#">Resource</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>

      <div class="list"> <!-- Third list in the footer -->
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Sustainability</a></li>
        </ul>
      </div>
    </div>
    <br>
    <div class="end"> <!-- End section of the footer -->
      <div class="email">
        <a href="mailto:skhouse15@gmail.com"><img src="logo/emi.png" alt="Email"> skhouse15@gmail.com</a>
      </div>

      <div class="copy"><img src="logo/blog.png" alt="Copyright"> @2024 cpyright by house rent agency</div>
    </div>
  </div>

  <!--Footeer section start-->
  <script src="assets/script/script.js" defer></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


  <script src="https://demos.creative-tim.com/soft-ui-design-system/assets/js/soft-design-system.min.js?v=1.0.5"
    type="text/javascript"></script>
  <script src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/js/plugins/countup.min.js"
    type="text/javascript"></script>
  <script src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/js/plugins/flatpickr.min.js"></script>
</body>

</html>