{% extends 'Home.html' %}
{% load static %}
{% block title %}<title>UserProfile</title>{% endblock %}
{% block favicon %} <link rel="shortcut icon" type="image/png" href="{% static 'logo/logo.png' %}">{% endblock %}
{% block point %}{% endblock %}
{% block content %}

<body>
    <br><br>
    <section style="background-color: #eee;">
        <div class="container py-5" style="padding-bottom: 0rem!important;">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="{{ profile.profile_image.url }}" alt="avatar" class="rounded-circle img-fluid"
                                style="width: 150px;">
                            <h5 class="my-3">{{ profile.first_name }} {{ profile.last_name }}</h5>
                            <p class="text-muted mb-1">{{ profile.phone }}</p>
                            <p class="text-muted mb-4">{{ profile.address }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row1">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Johnatan Smith</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row1">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ profile.email }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row1">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ profile.phone }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row1">
                                <div class="col-sm-3">
                                    <p class="mb-0">Age</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ profile.age }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row1">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ profile.address }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="{% url 'userorderdashborde' %}" class="btn btn-primary btn-block">Total Order</a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="{% url 'userorderdetails'%}" class="btn btn-info btn-block">Booking Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}

<style>
    #primary-header.navbar {
        z-index: 9;
        padding-top: 0;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .fixed-top {
        position: fixed;
        z-index: 1030;
    }
</style>